{
    "presets": ["babel-preset-expo"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@client": "./src",
                    "@shared": "../shared"
                }
            }
        ]
    ]
}
